San Francisco Crime Classification/sampleSubmission.csv
San Francisco Crime Classification/test.csv
San Francisco Crime Classification/train.csv
San Francisco Crime Classification (Not finished)/sampleSubmission.csv
San Francisco Crime Classification (Not finished)/test.csv
San Francisco Crime Classification (Not finished)/train.csv
